*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-image: linear-gradient(#000000c2, #000000af),url(./img/back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.flex-straight{
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-bar{
    justify-content: space-between;
    height: 10vh;
    padding: 20px 4%;
}
.logo{
    font-weight: bold;
    font-size: 20px;
}
.logo-img{
    width: 20px;
    border: 1px solid white;
    border-radius: 10px;
}
.bar{
    text-decoration: none;
    color: white;
}
.bar:hover{
    background-color: rgb(235, 22, 235);
    border-radius: 2px;
}
.reg-btn{
    background-color: rgb(235, 22, 235);
    border: none;
    border-radius: 10px;
    padding: 5px 12px;
    color: white;
}
.reg-btn:hover{
    background-color: black;
    color:  rgb(235, 22, 235);
}
.main-section{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 200px;
}
.middle-part{
    margin-bottom: 20px;
}
.discover-btn{
    padding: 9px;
    background: linear-gradient(75deg, rgb(211, 50, 255), rgb(13, 0, 255));
    border: none;
    border-radius: 2px;
    color: white;
}
.discover-btn:hover{
    background: linear-gradient(75deg, rgb(13, 0, 255), rgb(211, 50, 255));;
}
.purchase-btn{
    padding: 7px 12px;
    border: 1px solid white;
    color:white;
    background-color: rgba(245, 245, 245, 0);
}
.purchase-btn:hover{
    background-color: black;
}
.footer-section{
    text-align: center;
    color: white;
    margin-top: 105px;
    background-color: rgba(30, 30, 30, 0.99);
    height: 18.7vh;
    box-shadow: 1px 4px 20px 3px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 4px 20px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 4px 20px 3px rgba(0,0,0,0.75);
}
.topic{
    font-size: 30px;
    padding-bottom:20px ;
}
